.container-product-list, .container-info-user, .container-pay-method {
  border: 1px solid black;
  margin: 15px;
}

.container-product-list h2, .container-info-user h2, .container-pay-method h2 {
  margin-left: 15px;
}

.container-product-review, .container-product-review div {
  align-items: center;
  display: flex;
}

.container-product-review {
  margin: 15px;
}

.container-product-review div {
  margin-right: 20px;
}

.container-product-review div img {
  border: 1px solid black;
}

.container-product-review div h3 {
  margin-left: 15px;
  width: 560px;
}

.container-product-review p:nth-of-type( 1 ) {
  margin-right: 30px;
}

.totalPrice {
  font-style: italic;
  font-weight: 500;
  margin-left: 15px;
}

.container-pay-options {
  margin: 15px 5px;
}

.container-pay-options label {
  margin: 0 5px;
}

.container-creditCard {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 15px 6px;
  padding: 5px 0;
  width: 230px;
}

.container-creditCard label {
  margin: 5px 0;
}

.finish-button {
  background-color: white;
  border: 1px solid black;
  font-size: 16px;
  margin: 0 15px 15px;
  padding: 14px 38px;
}

.finish-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
