.container-inputs {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 5px;
}

.container-inputs input, .container-inputs select {
  margin: 5px;
  padding: 5px 0;
}

.container-inputs input:nth-child( 1 ), .container-inputs input:nth-child( 2 ) {
  flex-basis: 23.9%;
  flex-grow: 1;
}


.container-inputs input:nth-child( 3 ), .container-inputs input:nth-child( 4 ) {
  flex-basis: 23.9%;
  flex-grow: 1;
}

.container-inputs input:nth-child( 5 ), .container-inputs input:nth-child( 7 ) {
  flex-basis: 23.9%;
  flex-grow: 1;
}

.container-inputs input:nth-child( 7 ) {
  flex-grow: 2;
}

.container-inputs input:nth-child( 6 ) {
  flex-basis: 73.9%;
  flex-grow: 2;
}

.container-inputs input:nth-child( 8 ), .container-inputs select {
  flex-basis: 21%;
  flex-grow: 1;
}

.container-inputs input:nth-child( 9 ) {
  flex-basis: 30%;
  flex-grow: 3;
}
